<div class="col-md-8 col-sm-12 main-container">
  <!-- header -->
  <div class="header"><img src="assets/images/header.png" alt="" /></div>

  <app-quiz-remaining-results
    [remainingResultsImagesUrls]="imagesUrls"
  ></app-quiz-remaining-results>

  <div class="questions">
    <app-quiz-item
      [currentQuestionItem]="currentQuestion"
      (selectedAnswerId)="answerClicked($event)"
    ></app-quiz-item>

    <button
      class="previous-button"
      [disabled]="!hasPreviousSteps"
      type="button"
      (click)="returnToPrevious()"
    >
      previous question
    </button>
  </div>
</div>
