.main-container {
    margin: auto;
    height: 100%;
    position: relative;

    .header {
        margin-bottom: 1em;
        img {
            width: 100%;
            height: auto;
        }
    }

    .questions {
        position: absolute;
        bottom: 0;
        padding-bottom: 1em;
        width: 100%;

        .previous-button {
            width: 100%;
            background-color: #2f97b1;
        }
    }
}

