<div class="col-md-6 col-sm-12 question">
  <h4>{{ questionItem.text }}</h4>
</div>
<div class="grid answer-buttons-container">
  <div class="col" *ngFor="let answerItem of questionItem.answerItems">
    <button type="button" (click)="answerClicked(answerItem.linkedQuestionId)">
      {{ answerItem.answerText }}
    </button>
  </div>
</div>
