* {
    text-align: center;
    font-family: cursive;
    background-color: #edebf0;
}

button {
    cursor: pointer;
    width: 100%;
    min-width: 150px;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: #372c72;
    color: white;
    padding: 10px;
}

button:hover {
    background-color: #362c72d7;
}
